#home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #home-main-image {
    width: 258px;
    margin: 40px;
  }
  .home-button {
    margin-bottom: 20px;
    width: 332px;
    height: 52px;
    background-color: #f7f7f7;
    border-style: solid;
    border-radius: 43px;
    border-width: 2px;
    border-color: #b088f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 16px/24px Noto Sans KR;
    color: black;
  }
}
